#main {
    background-color: black;
    height: 80px;
    border-radius:0px;
    overflow: hidden;
  }
  
  #icon {
    margin-top: -10px;
    width: 70px;
    height: 70px;
  }
  
  .locations {
    width: 50px;
    height: 50px;
    margin-left:auto;
  }
  
  .col-sm-4{
    margin-top: 13px;
    position: absolute;
    right: 0px;
    padding: 10px;
  }
  #searchButton {
    margin-top: 0px;
    border: none;
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: Roboto,
      sans-serif;
    height: 34px;
  }
  
  #searchButton:hover {
    margin-top: 0px;
    height: 34px;
    border: none;
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: Roboto,
      sans-serif;
  }
  
  @media screen and (max-width: 600px) {
    #icon {
      margin-left:-20px;
      margin-top:5px;
      width: 40px;
      height: 40px;
    }
  
    .locations {
      margin-top:20px;
      width: 15px;
      height: 15px;
      margin-left: auto;
    }
  
    .col-sm-4 {
      width:25px;
      margin-right:60px;
      margin-top:-30px;
    }
  
    #searchButton {
      color: white;
      font-family: Roboto,
        sans-serif;
      height: 10px;
      font-size:0px;
    }
  
  }