{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
  <nav id='main' class='navbar navbar-inverse'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class='navbar-brand' href="{% url 'welcome' %}">My Gallery</a>
        <a class='navbar-brand' href="{% url 'filter-usa' %}">USA</a>
        <a class='navbar-brand' href="{% url 'filter-germany' %}">Germany</a>
        <a class='navbar-brand' href="{% url 'filter-italy' %}">Italy</a>
        <a class='navbar-brand' href="{% url 'filter-brazil' %}">Brazil</a>
        <a class='navbar-brand' href="{% url 'filter-kenya' %}">Kenya</a>

      </div>
      <!-- Adding a search form -->
      <div class="col-sm-4 navbar-right">
        <form id='search' class='navbar-form' role='search' action="{% url 'search' %}">
          <div class="input-group">
            <input autocomplete='off' type="text" class='form-control' placeholder="Search Category" name='location'>
            <div class="input-group-btn">
              <button id='searchButton' class='btn btn-default' type='submit'>Search</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Search form -->
    </div>
  </nav>
</body>
</html>